<div class= "centered">
<h1>STUPID COACHING</h1>
<h4><%= @question %></h4>
<h4>You</h4>
<h4><%= @answer %></h4>
<h4>Your Coach</h4>
<button type="button" class="btn btn-light"><%= link_to "Ask a new question", ask_path %></button>
</div>



