<div class= "centered">
  <label for="formControlInput" class="form-label">Question to our stupid coach</label>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control" id="formControlInput" placeholder="question here">
    <input type="submit" value="Ask!">
  </form>
</div>
